<!DOCTYPE html>
<html>
<head>
	<title>Lime Day</title>
	<link rel="stylesheet" type="text/css" href="lime.css">
</head>
<body>

<div class="lime">
<div class="lime-hero" style="background-image: url('https://cdn.pixabay.com/photo/2016/08/10/15/27/green-1583575__480.jpg')">
	<h1>Lime Day 2018</h1>
</div>

<div class="outside">

	<div class="grey-line"></div>
	<div class="lime1">
		<img src="https://cdn.pixabay.com/photo/2014/04/02/10/49/green-304700__480.png">
	</div>
	<div class="lime2">
		<img src="https://cdn.pixabay.com/photo/2014/04/02/10/49/green-304700__480.png">
	</div>	
	<div class="lime3">
		<img src="https://cdn.pixabay.com/photo/2014/04/02/10/49/green-304700__480.png">
	</div>

	<div class="wrap">

		<div id="monday" class="container">
			<!-- {% include 'icons-misc' with 'lock' %} -->

		<div class="square" style="background-image: url('https://images.unsplash.com/photo-1515042044477-9074024f6098?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f7be4778efc76720264b44544d16f759&auto=format&fit=crop&w=800&q=60')">	
			<h2>Day 1</h2>
			<p>15% off + $1 for 2 day shipping</p>
			<div class="button">
				<a href="#">Shop Now</a>
			</div>
		</div>
		</div>

		<div id="tuesday" class="container">
			<!-- {% include 'icons-misc' with 'lock' %} -->

		<div class="square" style="background-image: url('https://images.unsplash.com/photo-1468645547353-56d325bb57ff?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6cf9e291a74d7b02c52fca85cd31becf&auto=format&fit=crop&w=800&q=60')">
			<h2>Day 2</h2>
			<p>30% off Phase Short</p>
			<div class="button">
				<a href="#">Shop Now</a>
			</div>
		</div>
		</div>

		<div id="wednesday" class="container">
			<!-- {% include 'icons-misc' with 'lock' %} -->

		<div class="square" style="background-image: url('https://images.unsplash.com/photo-1473163162601-1dc5c6676070?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a37bab6a8005786ffc2c77aca57b0584&auto=format&fit=crop&w=800&q=60')">
			<h2>Day 3</h2>
			<p>50% off swim, Final Sale</p>
			<div class="button">
				<a href="#">Shop Now</a>
			</div>
		</div>
		</div>

		<div id="thursday" class="container">
			<!-- {% include 'icons-misc' with 'lock' %} -->
		<div class="square" style="background-image: url('https://images.unsplash.com/photo-1506197061617-7f5c0b093236?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=418764a3f148dde8a8debcea492f9156&auto=format&fit=crop&w=800&q=60')">	
			<h2>Day 4</h2>
			
			<p>40% of Tencel Terrry Collection</p>
			<div class="button">
				<a href="#">Shop Now</a>
			</div>
		</div>
		</div>

		<div id="friday" class="container">
			<!-- {% include 'icons-misc' with 'lock' %} -->

		<div class="square" style="background-image: url('https://images.unsplash.com/photo-1503577915147-a658ba199d6a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=193c66f1cc670f65b717c245829340cd&auto=format&fit=crop&w=800&q=60')">	
			<h2>Day 5</h2>
			<p>$30 Tartan Short</p>
			<div class="button">
				<a href="#">Shop Now</a>
			</div>
		</div>
		</div>

		<div id="saturday" class="container">
			<!-- {% include 'icons-misc' with 'lock' %} -->

		<div class="square" style="background-image: url('https://images.unsplash.com/photo-1506070998341-a108b1de7315?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd890fd68ff91c47f6d942bbc73bf5b2&auto=format&fit=crop&w=800&q=60')">	
			<h2>Day 6</h2>
			<p>BOGO Element Tee</p>
			<div class="button">
				<a href="#">Shop Now</a>
			</div>
		</div>
		</div>
	</div>
	</div>

</div>

<script 
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>
<script type="text/javascript" src="lime.js"></script>
<!-- <script type="text/javascript" src="date.js"></script> -->
</body>
</html>

